# Python files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
.env

# Log files
*.log

# Model files
*.pkl
/models/

# C++ object files and executables
*.o
*.out
*.exe

# IDE files
.vscode/
.clion/
.idea/

# Database files
*.db
*.sqlite

# System files
.DS_Store
Thumbs.db

# Node.js and npm files (if any)
node_modules/
